.canvas{
	padding-top: 50px;
	padding-bottom: 30px;

}

.mynav li a{
	color: #696969;
	font-family: Helvetica;
	padding-bottom: 50px;
}

.mynav li a:hover{
	color: rgb(220, 220, 220);
}

.subsection{
	padding-top: 50px;
}

.header-sum{
	font-family: 'Josefin Sans', sans-serif;
}

.main-sum, .moreInfo, .info{
	font-family: 'Quicksand', sans-serif;
}

.text-justify{
	text-align: justify;
  	text-justify: inter-word;
}

.moreInfo {
	border-left-color: #696969;
	padding-left: 15px;
}

#tab-about{
	padding-right: 2px; 
}

.tab-header{
	padding-bottom: 50px;
	font-family: 'Josefin Sans', sans-serif;
}

.project-row{
	padding-bottom: 50px;
}

.bio .container .row{
	/*background-color: #696969;*/
	margin-left: 20%;
	margin-right: 20%;
}

#myAvatar {
  border-radius: 50%;
  max-width: 50%;  
}

.education, .university, .work{
	padding-bottom: 30px;
}

.education{
	padding-top: 20px;
}

.my-card-link{
	color: black;
}

.contact-section{
	padding-top: 50px;
}
.contact-item{
	padding-left: 20px;
	padding-right: 20px;
	color: #ffba7a ;
}

.contact-item:hover{
	color: #FFA571;
}

.footer {
    clear: both;
    position: relative;
	margin-bottom: 10px;
	font-family: 'Quicksand', sans-serif;
}

.summary,.contact-section{
	padding-bottom: 50px;
}